/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');

body{
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)); 
    height: 100vh; 
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: hsl(237, 12%, 33%)
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    background: url('images/bg-pattern-desktop.svg') no-repeat;
    background-size: cover;
    background-position: -60px -50px;
    background-size: 500px;
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    width: 70vw;
    padding: 30px;
    z-index: 0;
    border-radius: 20px;
}

.image-container{
    position: relative;
    width: 500px;
    
}
    .image-container::before{
        content: url('images/illustration-woman-online-desktop.svg');
        position: absolute;
        transform: scale(0.9);
        left: -80px;
        z-index: -1;
    }   
    .image-container::after{
        content: url('images/illustration-box-desktop.svg');
        position: absolute;
        transform: scale(0.7);
        top: 120px;
        left: -80px;
    }

.accordion{
    max-width: 400px;
    margin-top: 30px;
    
}
.accordion header{
    font-size: 15px;
}
.contentA{
    position: relative;
    border-top: 1px solid hsl(240, 5%, 91%);
}
    .contentA:first-of-type{
        margin-top: 20px;
        border-top: none;
    }

.contentA .label{
    position: relative;
    cursor: pointer;
    padding: 20px 0;
}
    .contentA .label:hover{
        color: hsl(14, 88%, 65%);
        font-weight: 700;
    }
    .contentA.active .label{
        font-weight: 700;
    }
    .contentA .label::after{
        content: url('images/icon-arrow-down.svg');
        position: absolute;
        top: 20px;
        right: 30px;
    }
    .contentA.active .label::after{
        transform: rotate(180deg);
    }

.contentA .content{
    position: relative;
    height: 0;
    overflow: hidden;
    overflow-y: auto;
    transition: 0.3s;
    font-size: 11px;
}

.contentA.active .content{
    height: 50px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media only screen and (max-width: 425px){
    .container{
        background-position: 20px -140px;
        background-size: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .image-container{
        width: 100vw;
    }
    .image-container::after{
        content: url('images/illustration-woman-online-mobile.svg');
        position: absolute;
        top: -130px;
        left: 60px;
        transform: scale(0.9);
    }
    .image-container::before{
        content:'';
    }

    .accordion header{
        text-align: center;
    }
    .accordion{
        margin-top: 50px;
    }
    .contentA .label::after{
        position: absolute;
        top: 20px;
        right: -10px;
    }
}

@media only screen and (min-width: 426px ) and (max-width: 768px){
    .container{
        background: url('images/bg-pattern-desktop.svg') no-repeat;
        background-size: cover;
        background-position: 0px 100px;
        background-size: 240px;
        background-color: #fff;
    }
    .image-container::before{
        transform: scale(0.48);
        position: absolute;
        right: 130px;
    }
    .image-container::after{
        transform: scale(0.48);
        position: absolute;
        top: 100px;
        left: -100px;
    }
}

@media only screen and (min-width: 769px ) and (max-width: 1180px){
    .container{
        background: url('images/bg-pattern-desktop.svg') no-repeat;
        background-size: cover;
        background-position: 0px 100px;
        background-size: 240px;
        background-color: #fff;
    }
    .image-container{
        position: relative;
    }
    .image-container::before{
        transform: scale(0.5);
        position: absolute;
        right: 150px;
    }
    .image-container::after{
        position: absolute;
        transform: scale(0.5);
        top: 100px;
    }
}